<form>
    <div>
      <label>
        Name:
        <input type="text" [(ngModel)]="user.name" name="Name" class="form-control" >
      </label>
      <label>
        password:
        <input type="text" [(ngModel)]="user.password" name="Password" class="form-control">
      </label>
      <label>
        Email
        <input type="text" [(ngModel)]="user.email" name="email" class="form-control">
      </label>
      <button (click)="newu()" class="btn btn-primary">Sing up</button>
    </div>
  </form>