
<div class="wrapper fadeInDown">
  <div id="formContent">
<form>
  <div>
    <label>
      Email:
      <input type="text" [(ngModel)]="user.email" name="email" class="form-control" required>
    </label>
    <label>
      Password
      <input type="password" [(ngModel)]="user.password" name="password" class="form-control" required>
    </label>
  </div>
  <button (click)="singin(user)" class="btn btn-primary" type="submit">Sing in</button>
</form>
<!-- <a class="nav-link" [routerLink]="['/register']">register</a> -->
  </div>
</div>
