<div class="container">
  <div class="row">
    <div *ngFor='let product of products' class="col">
      <div class="product">
          <button class="btn btn-secondary" (click)="deletep(product)" *ngIf="isLoggedIn">x</button>
          <p>
            שם: {{product.name}}
          </p>
          <p>
            קטגוריה: {{product.category}}
          </p>
          <p>
            מחיר: {{product.price}}$
          </p>
          <button class="btn btn-primary" (click)="addToCart(product)">add to cart</button>
      </div>
    </div>
  </div>
</div>